<h3>Olá, <%= @usuario.nome %>!</h3>

<p>Bem-vindo(a) à Biblioteca Municipal Ney Pontes.</p>
<p>Seu cadastro foi realizado com sucesso.</p>

<p>Sua senha para realizar empréstimos de livros é: <strong><%= @usuario.senha%></strong></p>

<p>Guarde esta senha com segurança.</p>

<p>Atenciosamente,<br>
Equipe da Biblioteca.</p>