<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou uma alteração de senha. Siga as instruções abaixo para alterar.</p>

<p><a href="<%= @edit_password_url %>">Alterar a minha senha</a></p>

<p>Se não solicitou isto, por favor, ignore este e-mail.</p>
<p>A sua senha não será alterada até seja feita as instruções acima e crie uma nova.</p>